*{
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {

    *{
        margin: 0;
        padding: 0;
    }

    body{
        width: 100%;
        background-color: black;
        color: #face98;
    }

    .header{
    
        background-color: black;

    }


    .header img{
        width: 100%;
        border-radius: 20px;
    
        
    }

    .header li{
        list-style: none;
        margin: 30px;
    }

    .header a{
        text-decoration: none;
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #face98;
        border-radius: 8px;
        padding: 5px;
    
        
    
    }

    .header ul{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 20px;
    
    }




    p{
        text-align: center;
        width: 600px;
    }

/* Parte index */

    /* .section{
        border: 1px solid red;
    } */

    .index img{
        width: 80%;
        border-radius: 10px;
        
    }

    .img{
        margin-top: 10px;
        text-align: center;
    }

}

/* Parte Paixao */

.paixao img{
    width: 80%;
    border-radius: 10px;
}

.video{
    margin-top: 20px;
    text-align: center;

}

.paixao-texto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paixao-texto2{
    display: flex;
    align-items: center;
    justify-content: center;
}
